.headerlefts
  .headerleft
    %h3.headerleft__name
      = current_user.name
    %ul.headerleft__lists
      %li.lists
        = link_to do
          = icon('fas', 'pen-square', class: 'icon1')
      %li.lists
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'icon2')

.contentslefts
  .contentsleft
    .contentsleft__name
      グループ名
    .contentsleft__message
      新着メッセージ
    .contentsleft__name
      グループ名
    .contentsleft__message
      新着メッセージ
    .contentsleft__name
      グループ名
    .contentsleft__message
      新着メッセージ

      
